*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.top{
    background-color: #0F1111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border: 0.25rem;
    padding: 0.35rem;
}

.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-logo{
    width: 100px;
    height: 60px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 60px;
    width: 100%;
    margin: 0.25rem;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid #fff;
}

.location{
    margin: 5px;
    margin-left: 10px;
    padding: 10px;
}

.location-1{
    color: gray;
    margin-left: 12px;
}

.location-2{
    display: flex;
    align-items: center;
}

.nav-search{
    display: flex;
}

.search-left{
    position: relative;
    
}

.search-left select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border: none;
    background: transparent;
    padding: 0; /* Adjust padding as needed */
    font-size: inherit;
}

.search-left select{
    background-color: gray;
    color: #f0f0f0;
    width: 45px;
    height: 45px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.search-left select option{
    background-color: #fff;
    color: #000;
}


#search-fill{
    width: 700px;
    height: 40px;
    padding: 0.05rem;;
}

.nav-filler{
    position: relative;
    border: 0;
    display: flex;
}

.search-icon{
    background-color: pink;
    color: #000;
    height: 42px;
    width: 45px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    padding: 0.10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right{
    display: flex;
    align-items: center;
}

.lang{
    margin: 0px 3px 0px 3px;
    padding: 20px;
}

.sign-in{
    margin: 0px 3px 0px 3px;
    padding: 10px;
}

.return{
    margin: 0px 3px 0px 3px;
    padding: 10px;
}

.cart{
    margin: 0px 3px 0px 3px;
    padding: 10px;
}

.nav-down{
    display: flex;
    background-color: #1f1f1f;
    color: #fff;
    align-items: center;
}

.nav-all{
    margin: 4px 8px 4px 8px ;
    padding: 4px;
}

.nav-remain{
    display: flex;
    align-items: center;
}

.Deals{
    margin: 4px 8px 4px 8px ;
    padding: 4px;
}

.buy{
    margin: 4px 8px 4px 8px ;
    padding: 4px;
}

.service{
    margin: 4px 8px 4px 8px ;
    padding: 4px;
}

.reg{
    margin: 4px 8px 4px 8px ;
    padding: 4px;
}

.gift{
    margin: 4px 8px 4px 8px ;
    padding: 4px;
}

.sell{
    margin: 4px 8px 4px 8px ;
    padding: 4px;
}

.back-img {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 400px;
    position: relative;
    width: 100%;
}

.icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.icons i {
    font-size: 2rem;
}

.boox {
    background-color: #fff;
    color: #000;
    font-size: 0.80rem;
    margin: 20px;
    width: 90%;
    padding: 20px;
    position: absolute;
    bottom: 0;
}

.boox p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boox a {
    text-decoration: none;
    color: #0f121f;
}

.main{
    background-color: #e1d8d8;
}

.main-box{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.boxes{
    margin: 20px 0 20px 0;
    padding: 20px;
    width: 25%;
    border: 3px solid #fff;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.boxes a{
    text-decoration: none;
    color: #8235a8;
}

.bottom{
    background-color: #232F3E;
}

.bot-top{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #526c8d;
    padding: 20px;
    border: 1px solid #526c8d;
}

.bot-center{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bot-know{
    color: #fff;
    margin: 20px;
    padding: 20px;
}

.bot-know ul{
    list-style-type: none;
}

.bot-bot{
    color: #fff;
}

.bot-pa{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.side-bar{
    width: 35%;
}

.side-top{
    background-color: #232f3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #fff;
}

.side-top-left{
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.side-top-left i{
    margin-right: 10px;
}

.side-top h2 i{
    font-size: 1rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.side-top{
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
}

.side-center{
    overflow: auto;
    background-color: #fff;
    color: #000;
}

.side-content ul li{
    padding: 15px;
}

.side-content ul li i{
    opacity: 0.7;
}

.side-content ul li:hover{
   opacity: 1; 
   background-color: #f0f0f0;
}

.side-content ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stay{
    display: flex;
    justify-content: flex-start; 
}

.stay i{
    margin-right: 10px;
}

.stay:hover{
    background-color: #f0f0f0;
}

.side-bar {
    width: 0;
    position: fixed;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    transition: width 0.3s ease;
    overflow: auto;
    z-index: 1000;
}

.sidebar-visible {
    width: 35%;
}
